.form-control {
  border: 1px solid #303ab2;
  border-radius: 4px;

  &.is-invalid {
    border-color: #e0457b;
  }
}

.input-group-prepend,
.input-group-text{
  border-radius: 4px;
}

.input-group-prepend {
  border: 1px solid #303ab2;
}

.invalid-feedback {

  display: inline-block;
  padding: 5px 10px;

  color: #fff;

  background-color: #e0457b;
  border-radius: 4px;
}