.results {

  margin-top: 50px;

  @include e("title") {
    margin-bottom: 40px;
  }

  @include e("credit-card") {
    margin-bottom: 40px;
  }

  @include e("image") {
    display: block;
    margin: 0px auto 20px;
  }

  @include e("detail") {

    @include e("value") {

      display: block;
      padding: 6px;

      font-size: 22px;
      text-align: center;
      line-height: 1.5rem;

      border-radius: 4px 4px 0 0;
      background-color: #e8f7ff;
      border: 1px solid #c5ecff;
      color: #19b5fe;

      @include m("highlighted") {
        background-color: #19b5fe;
        color: #fff;
      }

    }

    @include e("heading") {

      display: block;

      font-size: 10px;
      text-align: center;

      border-radius: 0 0 4px 4px;
      border: 1px solid #c5ecff;
      border-top: 0;
      color: #666;
      background: #fff;

      @include m("highlighted") {
        background-color: #69cffe;
        color: #fff;
      }
    }
  }

}