///////// SASS BEM /////////
@mixin modifier($name) {
    @at-root {
        // "&" is a double-wrapped list
        $selector: nth(&, 1);
        // direct parent will be the last item in that list
        $direct-parent: nth($selector, length($selector));
        // modifier should have all properties of parent
        #{$direct-parent}--#{$name} { @extend #{$direct-parent} !optional; }
        // "@content" will be in a nested selector however, if that is the context
        #{&}--#{$name} { @content; }
    }
}

// a BEM element() mixin--as has been seen elsewhere
@mixin element($name) {
    @at-root {
        #{&}__#{$name} {
            @content;
        }
    }
}

@mixin m($name) {
    @include modifier($name) {
        @content;
    }
}

@mixin e($name) {
    @include element($name) {
        @content;
    }
}

///////// MEDIA QUERIES /////////
@mixin responsive($media) {

    @if $media == "screen-sm" {
        @media only screen and (min-width: $phablet-breakpoint) {
            @content;
        }
    } @else if $media == "screen-md" {
        @media only screen and (min-width: $tablet-breakpoint) {
            @content;
        }
    } @else if $media == "screen-lg" {
        @media only screen and (min-width: $desktop-breakpoint) {
            @content;
        }
    } @else if $media == "screen-xs-only" {
        @media only screen and (max-width: ($phablet-breakpoint - 1)) {
            @content;
        }
    } @else if $media == "screen-sm-only" {
        @media only screen and (min-width: $phablet-breakpoint) and (max-width: ($tablet-breakpoint - 1)) {
            @content;
        }
    } @else if $media == "screen-md-only" {
        @media only screen and (min-width: $tablet-breakpoint) and (max-width: ($desktop-breakpoint - 1)) {
            @content;
        }
    } @else {
        @warn "no media query found #{$media}";
    }

}