$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$phablet-breakpoint: $screen-sm-min !default;
$tablet-breakpoint: $screen-md-min !default;
$desktop-breakpoint: $screen-lg-min !default;