<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" />
   <title>Crazy Cards Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

   <% for (var chunk of webpack.chunks) {
         for (var file of chunk.files) {
            if (file.match(/\.(js|css)$/)) { %>
               <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
            <% }
         }
   } %>

</head>
<body>

<div id="crazy-cards-app"></div>

</body>
</html>